//
// Variables
//

// Element spacing
$navigation-height: 72px;
$section-y-padding:   6rem;

$global-radius: 2px;

// Easings
$ease-out: cubic-bezier(0.2, 0.8, 0.3, 1);
$ease-in: cubic-bezier(0.7, 0, 0.8, 0.2);
$ease-in-out: cubic-bezier(0.7, 0, 0.3, 1);
