section.row id="options"
  .col-sm-12
    h1 Options:
    p.font-weight-bold.text-muted Custom Messages
    p 
      | Validstate comes with default response messages for each type of validation rule, but you can also add custom messages to each validation by passing in the
      code.highlighter-rouge<> _messages
      | option.
    markdown:
      ```javascript
      const VALIDATIONS = {
        account: {
          name: { required: true },
          email: { email: true },
          password: { minLength: 8 },
          _messages: {
            name: { 
              required: "Please let us know your name so we can address you properly.",
            }
          }
        }
      export default validations;
      ```
