$sidebar-width: 256px;
$sm-nav-height: 48px;
$lg-nav-height: 65px;


.overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $overlay;
  z-index: 999;
}

.nav-header {
  left: -$sidebar-width;
  transition: left 350ms $ease-in;
  width: 100%;
  background: $gray-5;
  border-bottom: 1px solid $gray-10;
  margin-bottom: 0;
  height: $sm-nav-height;
  i {
    display: block;
    float: left;
    padding: 12px 16px 14px;
    color: $gray-50;
    &:hover {
      color: $gray;
    }
  }
  a {
    display: block;
    float: left;
    padding: 10px 16px;
  }
}

.nav-sidebar {
  transition: left 350ms $ease-in;
  position: absolute;
  left: -$sidebar-width;
  top: 0;
  padding-top: $sm-nav-height;
  z-index: 1000;
  height: 100%;
  max-height: 100%;
  width: $sidebar-width;
  background: $gray-5;
  box-shadow: inset -1px 0 $gray-10;
  overflow-y: auto;
  margin-bottom: 0;
  ul {
    list-style: none;
    padding: 0;
  }
  > ul {
    padding: 16px 0;
  }
  a {
    display: block;
    padding: 15px 16px 14px;
    text-decoration: none;
    color: $gray-70;
    &:hover {
      color: $gray;
      background: $gray-10;
      img {
        opacity: 1;
      }
    }
  }
  li ul {
    display: none;
    opacity: 0;
    transition: opacity 250ms $ease-in;
    a {
      padding: 11px 16px 10px 56px;
      &:hover {
        color: $brand-action;
      }
    }
    .active a {
      border-right: 4px solid $brand-action;
      color: $gray;
    }
  }
  > ul > li > a {
    font-weight: $font-weight-semibold;
    cursor: pointer;
  }
  .active a {
    img {
      opacity: 0.7;
    }
    &:hover img {
      opacity: 1;
    }
  }
  li.expanded ul,
  li.active ul {
    opacity: 1;
    display: block;
  }
}

.nav-dropdown {
  img {
    position: relative;
    top: -2px;
    margin-right: 12px;
    opacity: 0.25;
  }
}

.sidebar-expanded {
  overflow: hidden;
  .nav-sidebar {
    left: 0;
    transition: left 450ms $ease-out;
  }
}


@include media-breakpoint-up("xl") {

  .wrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  .content {
    padding-left: $sidebar-width;
    background: $white;
  }

  .overlay {
    display: none !important;
  }

  .nav-header {
    width: $sidebar-width;
    background: $gray-5;
    border-bottom: 0;
    left: 0;
    border-right: 1px solid $gray-10;
    height: $lg-nav-height;
    z-index: 1001;
    position: absolute;
    i {
      display: none;
    }
    a {
      padding: 18px 16px;
      width: 100%;
    }
  }

  .nav-sidebar {
    left: 0;
    height: calc(100% - #{$lg-nav-height});
    padding-top: 0;
    top: $lg-nav-height;
  }
}
